.container {
  width: 50%;
  height: 100%;
  border: 15px solid gray;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  color: blue;
  padding-top: 30px;
  padding-bottom: 10x;
}

.post {
  border-left: 5px solid blue;
}
